<div  class="container">
<div>
<h2>Ajouter  un  Client  :</h2>
</div>
<form >

      <div  class="col-sm-2  col-md-2  col-lg-2">
          <label  >Code  Client</label>
          <input	type="text"  [(ngModel)]="newClient.codeClient" name="codeClient"  class="form-control">
       </div>
    

    <div  class="col-sm-4  col-md-4  col-lg-4"  >
          <label  >Nom Client</label>
          <input	type="text"[(ngModel)]=  "newClient.nomClient" name="nomClient"  class="form-control">
    </div>
    

     <div  class="col-sm-2  col-md-2  col-lg-2">
          <label  >Cin Client</label>
          <input  type="number"	[(ngModel)]=  "newClient.cinClient" name="cinClient"  class="form-control">
     </div>
    

    <div  class="col-sm-4  col-md-4  col-lg-4">
         <label  >Date  création</label>
         <input  type="date"    [(ngModel)]=  "newClient.dateCreation" name="dateCreation"  class="form-control">
    </div>
    
    
    <div  class="mt-2">
        <button  type="submit"    (click)="addClient()"    class="btn  btn-success">Ajouter</button>
        <div>
            <h3> {{ message }}</h3>
        </div>
    </div>

    </form>
    </div>
    